

<app-header></app-header>
<div class="Accueil">

<nav class="navbar navbar-dark bg-dark">
 <h1 class="titles">NEWS</h1>
</nav>

<app-news></app-news>
 

<nav class="navbarreviews navbar-dark bg-dark">
  <h1 class="titles"> CARS REVIEWS</h1>
 </nav>
<app-carsreviews></app-carsreviews>
 
    <nav class="navbarreviews navbar-dark bg-dark">
      <h1 class="titles"> CARS ADVICES</h1>
     </nav>

    <app-caradvice></app-caradvice>
       <!-- Consulters -->
    <nav class="navbarreviews navbar-dark bg-dark">
      <h1 class="titles"> OUR CONSULTERS</h1>
     </nav>
  <app-consulters></app-consulters>

    
</div>
  <!-- Site footer -->
  <app-footer></app-footer>


