<nav>
  <div class="wrapper">
    <div class="logo"><a href="#">    
      <button class="button" data-text="Awesome">
        <span class="actual-text">&nbsp;DreamCar&nbsp;</span>
        <span aria-hidden="true" class="hover-text">&nbsp;DreamCar&nbsp;</span>
    </button>   </a>
  </div>
    <input type="radio" name="slider" id="menu-btn">
    <input type="radio" name="slider" id="close-btn">
    <ul class="nav-links">
      <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
      <li><a href="" routerLink="/news">News</a></li>
      <li>
          <a  class="desktop-item">Sell a car <i class="bi bi-chevron-down"></i></a>
          <input type="checkbox" id="showDrop">
          <label for="showDrop" class="mobile-item">Dropdown Menu</label>
          <ul class="drop-menu">
            <li><a href="#" routerLink="/sellcar">Post a car</a></li>
            <li><a href="#">Selling tips</a></li>
            <li><a href="#">Drop menu 4</a></li>
          </ul>
        </li>        
        <li>
        <a  class="desktop-item">Buy a car <i class="bi bi-chevron-down"></i></a>
        <input type="checkbox" id="showDrop">
        <label for="showDrop" class="mobile-item">Dropdown Menu</label>
        <ul class="drop-menu">
          <li><a href="#" routerLink="/buycar">Used cars</a></li>
          <li><a href="#">Classic cars</a></li>
          <li><a href="#" routerLink="/buytips">Buying tips</a></li>
          <li><a href="#">Drop menu 4</a></li>
        </ul>
      </li>
      <li>
        <a  class="desktop-item">Mega Menu <i class="bi bi-chevron-down"></i></a>
        <input type="checkbox" id="showMega">
        <label for="showMega" class="mobile-item">Mega Menu</label>
        <div class="mega-box">
          <div class="content">
            <div class="row">
              <img src="https://fadzrinmadu.github.io/hosted-assets/responsive-mega-menu-and-dropdown-menu-using-only-html-and-css/img.jpg" alt="">
            </div>
            <div class="row">
              <header>Design Services</header>
              <ul class="mega-links">
                <li><a href="#">Graphics</a></li>
                <li><a href="#">Vectors</a></li>
                <li><a href="#">Business cards</a></li>
                <li><a href="#">Custom logo</a></li>
              </ul>
            </div>
            <div class="row">
              <header>Email Services</header>
              <ul class="mega-links">
                <li><a href="#">Personal Email</a></li>
                <li><a href="#">Business Email</a></li>
                <li><a href="#">Mobile Email</a></li>
                <li><a href="#">Web Marketing</a></li>
              </ul>
            </div>
            <div class="row">
              <header>Security services</header>
              <ul class="mega-links">
                <li><a href="#">Site Seal</a></li>
                <li><a href="#">VPS Hosting</a></li>
                <li><a href="#">Privacy Seal</a></li>
                <li><a href="#">Website design</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li><a href=""  routerLink="/contact">Contact</a></li>
      <li><a href="" routerLink="/aboutus">About us</a></li>
     
      <li *ngIf="!isAuthenticated"><a class="login" href="" routerLink="/login"><i class="bi bi-person-fill" ></i>Login</a></li>
      <li *ngIf="isAuthenticated">
        <a  class="login">Welcome {{ username }}<i class="bi bi-chevron-down"></i></a>
        <input type="checkbox" id="showDropp">
        <label for="showDrop" class="mobile-item">Dropdown Menu</label>
        <ul class="dropp-menu">
          <li><a href="#" routerLink="/buycar"><i class="bi bi-heart-fill"></i> My favorite cars</a></li>
          <li><a href="#"><i class="bi bi-chat"></i> Chat</a></li>
          <li><a href="#"><i class="bi bi-info-circle-fill"></i> My informations</a></li>

          <li (click)="logout()"><a href="#"><i class="bi bi-box-arrow-left"></i> Logout</a></li>
        </ul> 
      </li>
    </ul>
    <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
  </div>
</nav>

